.hero {
    height: 80vh;
    flex-direction: column;
    background: var(--background-img-DL);
    background-size: cover;
    background-position: center;
}
.hero .container {
    flex-direction: column;
}
.hero .bottom-section {
    margin-top: 20px;
    margin-bottom: -70px;
}
.heroImg {
    width: 27%;
    margin-top: 50px;
    transform: rotateY(180deg);
}
.heroImg svg {
    /* width: 80% !important; */
}
.heroTitle {
    text-align: center;
    color: var(--hero-text-color-DL);
    width: 80%;
}
.heroTitle h1 {
    font-size: 3.5em;
    margin-bottom: 20px;
}
.heroTitle p {
    font-size: 1.7em;
    line-height: 2;
}
.btns {
    width: 40%;
    flex-direction: column;
}
.hero-btn {
    width: 70% !important;
    height: 60px !important;
    margin-bottom: 15px;
    font-size: 1.3em;
    
}
.hero-btn:active {
    transform: scale(0.8);
}

/****************** Light Theme ********************/
/* .hero.light {
  background-image: url('../../images/hero2.jpg'); /*https://www.freepik.com/free-vector/egyptian-pyramids-nile-river-sunset_39709567.htm#fromView=search&page=1&position=6&uuid=e7b2f365-d750-4a0e-a0b7-694e572ecfdf*
} */
.heroTitle.light {
    /* From https://css.glass */
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  padding: 20px;
  border-radius: 15px;
}

/*----------------------------------------------------------------------------------
**********************************  MEDIA QUERY **********************************
-----------------------------------------------------------------------------------*/
/* TABLET SMALL VERSION ONLY */
@media (max-width: 768px) {
  .hero {
    height: 60vh;
    margin: 0;
    border-radius: 0px;
    background-size: contain;
    background-color: #0e0020;
  }
  .heroTitle p {
    font-size: 1.4em;
  }
}
/****************************************/
/* MOBILE VERSION ONLY */
@media (max-width: 576px) {
  .heroTitle {
    width: 90%;
  }
  .heroTitle h1 {
    font-size: 2.5em;
  }
   .heroTitle p {
    font-size: 1.3em;
  }
}
/****************************************/
/* VERY SMALLMOBILE VERSION ONLY */

@media (max-width: 460px) {
  .hero {
    height: 100vh;
    background-size: cover;
  }
  .heroTitle h1 {
    font-size: 2.2em;
  }
}
