.hero {
    height: 60vh;
    color: var(--secondary-color);
    flex-direction: column;
    /* justify-content: end !important; */
    background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.8)), url('./images/hero.jpg'); /*https://www.freepik.com/free-vector/egyptian-pyramids-night-landscape-cartoon_4394561.htm#fromView=image_search_similar&page=10&position=23&uuid=20b8d009-9f99-4be6-98f4-c764ec21bad5*/
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 0px 30px;
    border-radius: 30px;

}
.hero .container {
    flex-direction: column;
}
.hero .bottom-section {
    margin-top: 20px;
    margin-bottom: -70px;
}
.heroImg {
    width: 27%;
    margin-top: 50px;
    transform: rotateY(180deg);
}
.heroImg svg {
    /* width: 80% !important; */
}
.heroTitle {
    text-align: center;
}
.heroTitle h1 {
    font-size: 3.5em;
    margin-bottom: 20px;
}
.heroTitle p {
    font-size: 1.7em;
    line-height: 50px;
}
.btns {
    width: 40%;
    flex-direction: column;
}
.hero-btn {
    width: 70% !important;
    height: 60px !important;
    margin-bottom: 15px;
    font-size: 1.3em;
    
}
.hero-btn:active {
    transform: scale(0.8);
}
