.footer {
   width: 80%;
   text-transform: capitalize;
   color: var(--text-color-DL);
   letter-spacing: 1.2px;
   border-top: 1px solid var(--text-color-DL);
   flex-direction: column;
   padding: 20px 0px;
   text-align: center;
   margin: auto;
}
.footer-social-links {
    width: 12%;
    margin-top: 12px;
    font-size: 1.3em;
    justify-content: space-evenly !important;
}
.footer-social-links a {
    color: var(--text-color-DL);
    text-decoration: none;
}

/*----------------------------------------------------------------------------------
**********************************  MEDIA QUERY **********************************
-----------------------------------------------------------------------------------*/
/* TABLET SMALL VERSION ONLY */
@media (max-width: 768px) {
  .footer-social-links {
    width: 20%;
  }
}

/****************************************/
/* MOBILE VERSION ONLY */
@media (max-width: 576px) {
  .footer-social-links {
    width: 25%;
  }
}
/****************************************/
/* VERY SMALLMOBILE VERSION ONLY */

@media (max-width: 460px) {
  .footer-social-links {
    width: 30%;
  }
}