/***************************
    1- General Style
    2- Channel Cards Style
    3- Search Bar
    4- Buttons
****************************/
.wifi {
  width: 100%;
  font-size: 7rem;
  text-align: center;
  color: #375752b7;
  margin-top: 35px;
}
/*============================
    1- General Style
==============================*/
.channels,
.channels-content {
  flex-wrap: wrap;
  margin: auto;
  width: 100%;
  margin-bottom: 20px;
}
.channels {
  padding-top: 50px;
  border-top-left-radius: 60px;
  border-top-right-radius: 60px;
  margin-top: -5%;
  background-color: var(--primary-bgColor-DL);
}
.infinite-scroll-component {
  display: flex !important;
  flex-wrap: wrap !important;
  justify-content: center;
  margin-bottom: 50px;
}
.loading-msg {
  color: #ffffffac;
  width: 100%;
  font-size: 1.2em;
  letter-spacing: 0.2em;
  text-align: center;
  direction: ltr;
}
/*============================
    2- Channel Cards Style
==============================*/
.channel {
  width: 30%;
  min-width: 300px;
  height: 320px;
  flex-direction: column;
  justify-content: space-evenly !important;
  float: left;
  padding: 10px;
  margin: 60px 10px;
  border-radius: 20px;
  /* border: 0.5px solid var(--secondary-color-DL); */
  position: relative;    
  background: var(--secondary-bgColor-DL);
  color: var(--text-color-DL);
  border-top: var(--border);
  border-left: var(--border);
  /* box-shadow: 2px 2px 6px #4c444880; */
  box-shadow: var(--box-shadow-DL);
  transition: all 1s ease;
}
.img {
  width: 100px;
  height: 105px;
  border-radius: 50%;
  position: absolute;
  top: -15%;
  left: 37%;
  padding: 15px;
  background: var(--secondary-bgColor-DL);
  border-top: 3px dotted var(--secondary-color-DL);
  transition: all 1s ease;
}
.title {
  background: -webkit-linear-gradient(to right, #dba228, #b21f1f, #506fee);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #dba228, #b21f1f, #506fee); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  margin-top: 35px;
  z-index: 10;
}

.channel p {
  width: 95%;
  height: 120px;
  font-size: 1em;
  line-height: 1.5;
  display: flex;
  align-items: start;
  justify-content: center;
  text-align: center;
  overflow-y: auto;
  padding: 15px 10px;
  border-right: 1px dotted var(--secondary-color-DL);
  color: var(--secondary-color-DL);
  background: var(--secondary-bgColor-DL);
  overflow-wrap: anywhere;
  transition: all 1s ease;
}

/*====================
    3- Search Bar
======================*/
.searchBox {
  position: relative;
}
.searchBar {
  width: 300px;
  height: 40px;
  padding-right: 7px;
  border-radius: 20px;
  border: none;
  margin-bottom: 70px;
  background-color: #f3f2fb;
  box-shadow: inset -1px -1px 5px #ffffff83, inset 2px 2px 5px rgba(94, 104, 121, 0.688);
}
.searchBar:focus-visible {
  outline-color: var(--secondary-color-DL);
}
.channels .icon-close {
  color: gray;
  position: absolute;
  left: 15px;
  top: 12px;
  font-weight: bold;
  cursor: pointer;
}
/*====================
    4- Buttons
======================*/

.btn {
  border: none;
  width: 200px;
  height: 45px;
  border-radius: 10px;
  font-weight: bold;
  letter-spacing: 1px;
  text-decoration: none;
  margin-top: 20px;
  background-color: var(--secondary-bgColor-DL);
  border: 1px solid var(--secondary-color-DL);
  color: var(--secondary-color-DL);
  transition: all 0.5s ease;
}
.loadMore_btn,
.btn:hover {
  box-shadow: none;
  color: #fff;
  background: var(--secondary-color-DL); 
}
.icon-youtube-play {
  color: #d11d1d;
  margin-left: 10px;
}
.loadMore_btn {
  cursor: pointer;
  font-size: 1.3em;
}

/*----------------------------------------------------------------------------------
**********************************  MEDIA QUERY **********************************
-----------------------------------------------------------------------------------*/
/* DESKTOP VERSION ONLY */

@media (min-width: 993px) {
  .searchBar {
  width: 550px;
  }
    
}
/*****************************************/
/* TABLET MEDIUM & LARGE VERSION ONLY */
@media (max-width: 992px) {
  .channel {
    width: 45%;
  }
  .searchBar {
  width: 500px;
  }
}
/*******************************************/
/* TABLET SMALL VERSION ONLY */
@media (max-width: 768px) {
   .channel {
    width: 80%;
    margin: 30px 10px;
  }
  .searchBar {
  width: 350px;
  }
}

/****************************************/
/* MOBILE VERSION ONLY */
@media (max-width: 576px) {
  .channel {
    width: 90%;
  } 
}
/****************************************/
/* VERY SMALLMOBILE VERSION ONLY */

@media (max-width: 460px) {
  .channels {
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    margin-top: -23%;
  }
  .channel {
    width: 85%;
    height: 450px;
    margin: 55px 10px;
  } 
  .channel p {
    width: 98%;
    height: 200px;
    /* font-size: 16px;
    line-height: 25px; */
  }
  .img {
    width: 95px;
    top: -10%;
    padding: 10px;
  }
  .title {
    font-size: 20px;
  }
  .searchBar {
  width: 300px;
  }
  .wifi {
  font-size: 5rem;
  }
}
