/*====================
      1- General
======================*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 
:root {
  --primary-color: #18214b;
  --secondary-color: #ffcc58;
}
html {
  scroll-behavior: smooth;
  direction: rtl;
}
body {
  color: var(--primary-color);
}
.border {
  border: 1px solid red;
}

/*====================
    2- Container
======================*/
.container {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}
.flex {
  display: flex;
  align-items: center ;
  justify-content: center;
}

/*----------------------------------------------------------------------------------
**********************************  MEDIA QUERY **********************************
-----------------------------------------------------------------------------------*/
/* DESKTOP VERSION ONLY */

@media (min-width: 1400px) {
  /* body {
      background-color: #ea7478;
  } */
    
}
/************************************************/
@media (max-width: 1399.98px) {
  /* body {
      background-color: #d52ac4;
  } */
    
}

/*****************************************/
/* TABLET MEDIUM & LARGE VERSION ONLY */
@media (max-width: 992px) {
  /* body {
      background-color: #2b95e0;
  } */   
}
/*******************************************/
/* TABLET SMALL VERSION ONLY */
@media (max-width: 768px) {
  /* body {
      background-color: #1ed46a;
  } */
}

/****************************************/
/* MOBILE VERSION ONLY */
@media (max-width: 576px) {
  /* body {
      background-color: #ecde1a;
  }  */    
}
/****************************************/
/* VERY SMALLMOBILE VERSION ONLY */

@media (max-width: 460px) {
  /* body {
      background-color: #2a2703;
  }  */
}
