/*
1- General
2- Container
/*====================
      1- General
======================*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 
:root {
  --primary-color: #375752;
  --secondary-color: #ffab51;
/* CSS Variables For Dark & Light =>[DL] Mode */
  --secondary-color-DL: #ffab51;
  --primary-bgColor-DL : #130117;
  --secondary-bgColor-DL : #1c1622;
  --text-color-DL : #ffffffcc;
  --hero-text-color-DL : #ffab51;
  --background-img-DL : linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.8)), url('./images/hero.jpg'); /*https://www.freepik.com/free-vector/egyptian-pyramids-night-landscape-cartoon_4394561.htm#fromView=image_search_similar&page=10&position=23&uuid=20b8d009-9f99-4be6-98f4-c764ec21bad5*/
}
.light {
  --background-img-DL : url('./images/hero2.jpg'); /*https://www.freepik.com/free-vector/egyptian-pyramids-nile-river-sunset_39709567.htm#fromView=search&page=1&position=6&uuid=e7b2f365-d750-4a0e-a0b7-694e572ecfdf*/
  --secondary-color-DL : #673ab7;
  --primary-bgColor-DL : #f3f1ee;
  --secondary-bgColor-DL : #fff;
  --text-color-DL : #000;
   --hero-text-color-DL : #fff;
}
html {
  scroll-behavior: smooth;
  direction: rtl;
}
body {
  color: var(--primary-color);
  background-color: var(--primary-bgColor-DL);
}
body.hide {
  overflow: hidden;
}
.border {
  border: 1px solid red;
}

/*====================
    2- Container
======================*/
.container {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 1s ease;
}
.flex {
  display: flex;
  align-items: center ;
  justify-content: center;
}



/*----------------------------------------------------------------------------------
**********************************  MEDIA QUERY **********************************
-----------------------------------------------------------------------------------*/
/* DESKTOP VERSION ONLY */

@media (min-width: 1400px) {
  /* body {
      background-color: #ea7478;
  } */
  .container {
    width: 100%;
  } 
}
/************************************************/
@media (max-width: 1399.98px) {
  /* body {
      background-color: #d52ac4;
  } */
  .container {
    width: 100%;
  }
    
}

/*****************************************/
/* TABLET MEDIUM & LARGE VERSION ONLY */
@media (max-width: 992px) {
  /* body {
      background-color: #2b95e0;
  }    */
}
/*******************************************/
/* TABLET SMALL VERSION ONLY */
@media (max-width: 768px) {
  /* body {
      background-color: #1ed46a;
  } */
}

/****************************************/
/* MOBILE VERSION ONLY */
@media (max-width: 576px) {
  /* body {
      background-color: #ecde1a;
  }   */
}
/****************************************/
/* VERY SMALLMOBILE VERSION ONLY */

@media (max-width: 460px) {
  /* body {
      background-color: #2a2703;
  }  */
}
