/**********************
  1- Nav Bar
  2- Quick List Menu
**********************/

/*======================
      1- Nav Bar
========================*/
.navBar {
  height: 70px;
  text-align: center;
  background-color: transparent;
  position: fixed;
  width: 100%;
  background: rgba(238, 218, 172, 0.2);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  z-index: 20;
}

.logo {
  width: 120px;
  /* border-radius: 50%;
  margin-top: -30px;
  padding: 0px 20px;
  background-color: #fff; */
}
.navBtns {
  width: 100px;
  height: 40px;
  position: absolute;
  top: 10px;
  right: 5px;
  justify-content: space-around !important;
}

.navBtns button {
  color: var(--secondary-color);
  border: none;
  background-color: transparent;
  font-size: 20px;
  cursor: pointer;
}
.navBtns button:last-child {
  font-size: 25px;
}
/*=========================
    2- Quick List Menu 
==========================*/
.quick-list {
  width: 100%;
  height: 100vh;
  overflow-y: scroll;
  /* From https://css.glass */
  background: rgba(141, 99, 141, 0.4);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  position: fixed;
  top: 70px;
  left: 0;
  padding: 40px 0px 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  z-index: 20;
  scale: 1;
  transition: all 1s ease;
}

.quick-list.close {
  scale: 0;
}

.icon-filter,
.icon-list {
  color: var(--secondary-color);
  font-size: 30px;
  position: absolute;
  top: 10px;
  right: 20px;
  cursor: pointer;
}

.quick-list .list-item {
  width: 400px;
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 10px;
  padding-right: 15px;
  margin: 10px;
  border-radius: 15px;
  background-color: #e6ebeb;
  box-shadow: var(--box-shadow-DL)
}

.quick-list .list-item .icon-star {
  font-size: 20px;
  color: var(--secondary-color);
}

.quick-list .list-item .icon-star,
.quick-list .list-item .icon-star-o {
  cursor: pointer;
}

.quick-list .list-item a {
  margin-right: 10px;
  text-decoration: none;
}

.quick-list .list-item img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-left: 20px;
  margin-right: 12px;
}

/************* Theme *************/


/*----------------------------------------------------------------------------------
**********************************  MEDIA QUERY **********************************
-----------------------------------------------------------------------------------*/
/* VERY SMALLMOBILE VERSION ONLY */
@media (max-width: 460px) {
  .logo {
    width: 170px;
    margin-top: -15px;
  }
  .quick-list .list-item {
  width: 320px;
  }
  .navBtns {
  width: 70px;
  }
}